<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TooNote - UI</title>
</head>
<body>
    <div id="container"></div>
    <script src="../../dist/view.js"></script>
    <script>
        const webClientView = window.WebClientView.default;
        window.testUser = {
            userName: 'hello'
        };
        webClientView.setData('userInfo', window.testUser);
        webClientView.setData('editor', {
            content: 'test'
        });
        webClientView.app.$mount('#container');
    </script>
</body>
</html>
