// $themeColor: #718C00;
$themeColor: #666;
$textColor: #666;
$textFontFamily: "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
$codeFontFamily: source-code-pro, Monaco, Menlo, "Ubuntu Mono", Consolas, monospace;
$textFontSize: 16px;
$codeFontSize: 12px;
$lineHeight: 30px;
$paraMargin: 30px;
$quotePadding: 12px 10px;

@mixin content {
  font-family: $textFontFamily;
  line-height: $lineHeight;
  font-size: $textFontSize;
  color: $textColor;
  // letter-spacing: 1px;
  // padding:0 20px;
  /*标题*/
  h1, h2, h3,
  h4, h5, h6{
    margin-bottom: $paraMargin;
    color: $themeColor;
    font-weight: bold;
  }
  /*表格*/
  table{
    margin-bottom: $paraMargin;
    margin-left:auto;
    margin-right:auto;
    /*width:80%;*/
    width:100%;
    border:1px solid #E0E0E0;
    border-collapse: collapse;
  }
  table th,
  table td{
    padding: 3px;
    border:1px solid #E0E0E0;
  }
  table th{
    background:#F0F0F0;
  }

  /*段落*/
  p{
    margin-bottom: $paraMargin;
    /*text-indent: 34px;*/
  }

  /*列表*/
  ul, ol{
    margin-bottom: $paraMargin;
    /*padding-left:34px;*/
    /*list-style-position: inside;*/
    margin-left: 2em;
    list-style-position: outside;
  }
  li > p{
    text-indent: 0;
    margin-bottom: 0;
  }
  ul ul,
  ul ol,
  ol ol,
  ol ul{
    padding-left: 34px;
    margin-bottom: 0;
  }
  /*todo*/
  li.todo{
    list-style: none;
    margin-left: -1.4em;
  }
  li.todo.done{
    color:#aaa;
  }
  li.todo.done > p::first-letter{
    color:green;
  }
  li.todo.doing > p::first-letter{
    /*color:#aaa;*/
  }
  /* li.todo.doing::before{
    content:'☐';
  }
  li.todo.done::before{
    content:'✔';
  }
  li.todo p{
    text-indent:-1.5em;
  }*/

  /*代码*/
  code{
    background:#F0F0F0;
    padding:0 5px;;
    font-family: $codeFontFamily;
  }
  pre code{
    /*margin-left:34px;*/
    margin-bottom: $paraMargin;
    display: block;
    background:#fff;
    border:1px solid #E0E0E0;
    overflow-x: scroll;
    font-size: $codeFontSize;
  }
  /*引用*/
  blockquote{
    /*margin-left:34px;*/
    font-size: $textFontSize;
    margin-bottom: $paraMargin;
    padding: $quotePadding;
    background:#F0F0F0;
    border-left:3px solid #E0E0E0;
  }
  blockquote p{
    text-indent: 0;
    margin-bottom: 0;
  }
  /*图片*/
  img{
    max-width: 100%;
    border: 1px solid #E0E0E0;
    padding: 1px;
  }

  /*链接*/
  a{
    color: $themeColor;
    text-decoration: none;
  }
}
